/*STYLES HERE FOR PAGE*/

/*GENERALS*/
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: black;
}

h2{
    text-align: center;
}

/*MOBILE VERSION HERE*/
/*HEADER*/

header{
    width: 100%;
    height: 70vh;
    background-image: url(./photos/9d2b43b4-8f33-487d-b993-ea71b5dd0495.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20,1fr);
}

.navbar{
    position: fixed;
    top: 0px;
    left: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    height: 5%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    padding: 0 0.5rem 0 0;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar ul li{
    padding-left: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}



/*MAIN HERE*/

main{
    color: white;
}

.aboutme-info{
    display: flex;
    flex-direction: row;
}

.aboutme-info div img{
    width: 100%;
}

.projects-preview{
    display: flex;
}

.projects div div img{
    width: 100%;
}

/*FOOTER HERE*/

footer{
    padding-top: 1rem;
}

footer ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

footer ul li a{
    text-decoration: none;
    color: white;
    padding: 0 1rem 0 1rem;
}

footer p{
    color: white;
    font-size: 0.7rem;
    text-align: center;
}