/*STYLES HERE FOR PAGE*/

/*breakpoints 
PODGLAD 430px
MOBILE 320-480px
TABLETS 768px
DESKTOP 1920px
*/

/*GENERALS*/
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: black;
    color: white;
}

h2{
    text-align: center;
}

/*MOBILE VERSION HERE*/
/*HEADER*/

header{
    width: 100%;
    height: 50vh;
    background-image: url(../PHOTOS/backgroundmobile2.png);
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30,1fr);
}

.navbar{
    position: fixed;
    top: 0px;
    left: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    background-color: black;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

.navbar ul{
    display: flex;
    padding: 0 0.5rem 0 0;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar ul li{
    padding-left: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
}

.squareinfo{
    background-color: black;
	-webkit-transform: skew(340deg);
    border-radius: 10px;
    box-shadow: 6px 6px white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square01{
    grid-column: 3/20;
    grid-row: 5/8;
}

.square02{
    grid-column: 4/17;
    grid-row: 9/12;
}

.square{
    background-color: rgba(255, 255, 255, 0.7);

    border-radius: 5px;
    margin: 1px;
}

.square03{
    grid-column: 3/5;
    grid-row: 14/16;
}

.square04{
    grid-column: 2/3;
    grid-row: 15/16;
}

.square05{
    grid-column: 3/6;
    grid-row: 16/19;
}

.square06{
    grid-column: 1/3;
    grid-row: 16/18;
}

.square07{
    grid-column: 2/3;
    grid-row: 18/19;
}

.square08{
    grid-column: 2/4;
    grid-row: 19/21;
}

.square09{
    grid-column: 4/7;
    grid-row: 19/22;
}

.square10{
    grid-column: 1/4;
    grid-row: 21/24;
}

.square11{
    grid-column: 4/6;
    grid-row: 22/24;
}

.square12{
    grid-column: 6/7;
    grid-row: 22/23;
}

.square13{
    grid-column: 6/9;
    grid-row: 23/26;
}

.square14{
    grid-column: 3/6;
    grid-row: 24/27;
}

.square15{
    grid-column: 7/9;
    grid-row: 21/23;
}

.square16{
    grid-column: 9/11;
    grid-row: 22/24;
}

.square17{
    grid-column: 7/8;
    grid-row: 20/21;
}

.square18{
    grid-column: 9/10;
    grid-row: 24/25;
}

.square19{
    grid-column: 9/11;
    grid-row: 25/27;
}

.square20{
    grid-column: 7/9;
    grid-row: 26/28;
}

.square21{
    grid-column: 6/7;
    grid-row: 26/27;
}

.square22{
    grid-column: 6/7;
    grid-row: 27/28;
}

.square23{
    grid-column: 4/6;
    grid-row: 27/29;
}

.square24{
    grid-column: 6/9;
    grid-row: 28/31;
}

.square25{
    grid-column: 5/6;
    grid-row: 29/30;
}

.square26{
    grid-column: 9/12;
    grid-row: 27/30;
}

.square27{
    grid-column: 9/11;
    grid-row: 30/31;
}

.square28{
    grid-column: 10/11;
    grid-row: 24/25;
}

.square29{
    grid-column: 11/12;
    grid-row: 26/27;
}

.square30{
    grid-column: 11/13;
    grid-row: 30/31;
}

.square31{
    grid-column: 12/14;
    grid-row: 28/30;
}

.square32{
    grid-column: 12/13;
    grid-row: 27/28;
}


/*MAIN HERE*/

main{
    color: white;
}

.aboutme-info{
    display: flex;
    flex-direction: row;
}

.aboutme-info div img{
    width: 100%;
}

.projects-preview{
    display: flex;
}

.projects div div img{
    width: 100%;
}

/*FOOTER HERE*/

footer{
    padding-top: 1rem;
}

footer ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

footer ul li a{
    text-decoration: none;
    color: white;
    padding: 0 1rem 0 1rem;
}

footer p{
    color: white;
    font-size: 0.7rem;
    text-align: center;
}